@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

  @import "tailwindcss";
 @plugin "@tailwindcss/typography";

html {
  font-family: "Roboto", sans-serif;
}

@theme {
  /* breakpoints */
  --breakpoint-ml: 56rem; /* 896px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-2xs: 18.75rem; /* 300px */

  /* text size */
  --text-xsm: 0.8125rem; /* 13px */
  --text-sb: 0.9375rem; /* 15px */

  /* colors */
  --color-primary: #ff9800;
  --color-warning: #ffc107;
  --color-success: #01d676;
  --color-info: #2196f3;
  --color-danger: #f44336;

  --color-offblack: #222222
  --color-text-light: #666666;
}
/* #FED700 #EF262C */

body{
  background-color: #f5f5f5;
}

/* Hide scrollbar for category navigation */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}